<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/index::head">
</head>
<body>
<div th:replace="home/index::header_home"></div>
<div style="height: 150px;"></div>
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Estore</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>

<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th>Xoá</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            <tr th:each="cartITem:${cartItems}" class="list_cartItem">
                                <td>
                                    <div class="img">
                                        <a href="#"><img
                                                th:src="${cartITem.getProductResponse().getImage_url()}"
                                                alt="Image"></a>
                                        <p th:text="${cartITem.getProductResponse().name}"></p>
                                    </div>
                                </td>
                                <td th:text="${cartITem.getProductResponse().getCostPrice()}"></td>
                                <td>
                                    <div class="qtyincart">
                                        <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                        <input type="text" th:value="${cartITem.getQuantity()}" class="valuequantity">
                                        <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                        <input type="hidden" th:value="${cartITem.id}" class="cartIdInCard"/>
                                    </div>
                                </td>
                                <td th:id="totalmaney+${cartITem.getId()}" th:class="totalmaney">
                                    [[${cartITem.totalInCartItem()}]]
                                </td>
                                <td class="td_removecard">
                                    <button class="btn_removecart"><i class="fa fa-trash"></i>
                                        <input type="hidden" th:value="${cartITem.getId()}" id="cartIdInCardFirst"/>
                                    </button>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon">
                                <input type="text" placeholder="Mã giảm giá">
                                <button>Áp dụng</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h2>Total<span class="grandtotalcart">$100</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <button onclick="buy_product()">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; Group 4.03</p>
            </div>

            <div class="col-md-6 template-by">
                <a href="https://portal.ptit.edu.vn/">Posts and Telecommunications Institute of Technology</a>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/slick/slick.min.js"></script>

<!-- Template Javascript -->
<script src="/images/main.js"></script>
</body>
<script th:inline="javascript">
    sumTotal();

    $('.qtyincart button').on('click', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').eq(0).val();
        if ($button.hasClass('btn-plus')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').eq(0).val(newVal);
        var cardId = $button.parent().find('.cartIdInCard').val();
        var url = "/api/shoppingcarts/update/" + cardId + "/" + newVal;

        $.ajax({
                type: "POST",
                url: url,
                success: function (res) {
                    var classcart = "#totalmaney" + cardId;
                    if (res != null) {
                        $(classcart).text(res)
                    }
                    sumTotal()
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            }
        )
    });

    function sumTotal() {
        var total = 0;
        var numbercart=0;
        $(".totalmaney").each(function (index, element) {
            total += parseFloat(element.innerHTML)
            numbercart++
        })
        chageFragment(numbercart)
        changeNumberCart(numbercart)
        numbercart=0;
        $(".grandtotalcart").text(total)
    }

    $(".td_removecard").click(function (e) {
        var card=$(this).parent();
        var cartId = $(this).find("#cartIdInCardFirst").val();
        var url="/api/shoppingcarts/delete/"+cartId;
        $.ajax({
            type: "DELETE",
            url:url,
            success:function (res){
                card.remove()
                sumTotal()
            },
            error:function (xhr,status,error){
                console.log("err",cartId)
        }
        })
    })
    function buy_product(){
        var userId = ''
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.startsWith('userId=')) {
                userId = cookie.substring('userId='.length, cookie.length);
                break;
            }
        }
        var url="/api/history/add/"+userId;
        $.ajax({
            type:"POST",
            url:url,
            success:function (res){
                console.log(res);
                if(res=="add fail"){

                }else{
                    removeAll_list_cartItem()
                }
            },
            error:function (xhr,status,error){

            }
        })
    }
    function removeAll_list_cartItem(){
        document.querySelectorAll(".list_cartItem").forEach((item)=>{
            item.remove();
        });
    }
    getUserNameFromCookie()
</script>
</html>
